* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#page-layout {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 0.5fr;
    min-height: 100vh;
}

dialog {
    background-color: #fefae0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Center the dialog*/
    padding: 0px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px #999;
}

form {
    display: inline-block;
    padding: 1em;
}

.dialog-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#add-to-library-btn, #cancel-btn {
    margin-top: 10px;
    width: 70%;
    justify-self: center;
    align-self: center;
}

legend {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    padding-bottom: 10px;
    font-weight: 300;
    letter-spacing: 2px;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
    font-weight: 300;
}

#read-checkbox {
    display: inline-block;
    justify-self: left;
}

input {
    background-color: #edede9;
    font: 1em sans-serif;
    width: 200px;
    border: 1px solid #999;
    margin-top: 10px;
}
input:focus {
    outline-style: solid;
    outline-color: #000;
    background-color: white;
}

#read-checkbox:focus {
    outline-style: none;
}
.header {
    display: flex;
    background-color: #bde0fe;
    justify-content: center;
    align-items: center;
}

.page-title {
    font-size: 4em;
    font-weight: 200;
    letter-spacing: 0.3em;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.card-container {
    display: grid;
    width: 70%;
    justify-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-template-rows: repeat(auto-fit, 250px);
    padding: 30px 0px 0px 0px;
}

.card {
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: #cdb4db;
    height: 250px;
    width: 100%;
    border: black 1px solid;
}

.card-header {
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding: 10px 10px 0px 10px
}

.delete-btn {
    box-sizing: content-box;
    position: absolute;
    align-self: flex-start;
    justify-self: right;
    margin: 2px 2px 0px 0px;
    padding: 3px;
    cursor: pointer;
}

.delete-btn:hover, .delete-btn:active {
    background-color: lightgray;
    border-radius: 3px;
    z-index: 10;
}

.delete-btn:active {
    border: darkgray 1px solid;
}

.read-btn {
    border-radius: 0px;
    border: 0px;
    cursor: pointer;
    height: 2em;
}

.info-container {
    padding: 0px 10px 0px 10px;
    display: grid;
    /* background-color: blueviolet; */
    gap: 0px;
    height: 100%;
}

.info-title {
    display: flex;
    height: 100%;
    align-items: end;
    font-size: 0.9em;
}

.info-value {
    display: flex;
    justify-content: start;
    height: 100%;
    font-size: 1.1em;
    font-weight: 500;
}

#new-book-btn {
    width: 7em;
    height: 3em;
    font-size: 1em;
    justify-self: center;
    align-self: center;
}

.footer {
    background-color: #a2d2ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 5px;
    color: #000;
    cursor: pointer;
    padding: 5px;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer img {
    height: 1.3em;
}
