* {
    margin: 0px;
    box-sizing: border-box;
}

#page-layout {
    display: grid;
    grid-template-rows: 1fr 5fr 0.5fr;
    height: 100vh;
}

.header {
    background-color: #bde0fe;
}

.card-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
}

.card {
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: red;
    height: 300px;
    width: 150px;
}

.card-header {
    font-size: 1.3em;
}

.info-container {
    display: grid;
    background-color: blueviolet;
    gap: 10px;
    height: 100%;
}

.info-title {
    display: flex;
    height: 1em;
    background-color: yellow;
}

.info-value {
    display: flex;
    justify-content: start;
    height: 1.3em;
}

.footer {
    background-color: #a2d2ff;
}
